body, html{
  padding-top: 25px;
  margin:0;
  height: 100%;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

h1 {
  font-family: Courier;
  font-size: 2.5em;
}

ul {
  list-style: none;
  display: inline;
  padding: 0 20px;
}

a {
  color: #505050;
}

header{
  background-image: url('../images/header.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  min-height: 100%;
  border-bottom: none;
}
header .headerText{
  padding-top:20%;
  text-align:center;
  color: white;
  font-size: 30px;
}
header div p{
  font-size: 10px;
}

section p{
  text-align: center;
  vertical-align: middle;
}
hr{
  height: 10px;
  background-color: tomato;
  border-top-color: tomato;
  width: 60px;
  border-radius: 20px;
}
#sideBar{
  position: fixed;
}
#sideBar li a{
  color: #F67280;
}

#resumeButtonPosition{
  display: block; margin: 0 auto;
}

.resumePicture{
  background-image: url('../images/1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 450px;
  color: white;
  padding: 50px 80px;
}

.resumePicture p{
  color: #f8b195;
  font-size: 45px;
  font-family: Courier;
  text-align: center;
}
.topbar{
  position: relative;
  font-size: 35px;
  font-family: Courier;
}

.topbar1 {
  font-size: 35px;
  font-family: Courier;
  position: absolute;
  bottom: 0;
  right: 0;
}

.alignRight {
  text-align: right;
}

.infoCards{
  color: #777;
  background-color:white;
  text-align:center;
  padding: 50px 115px;
  text-align: justify;
}
